@import url(https://fonts.googleapis.com/css?family=Exo:100);

.landing-page-container {
    color: white !important;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 15vh;
    padding-left: 20px;
    padding-right: 20px;
    /* border: red 1px solid; */
}

.nav-bar-title {
    width: auto;
}

.nav-bar-title h2 {
    font-size: 2.5vw;
}

.nav-bar-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    font-weight: bold;
}

.landing-body-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80vw;
    height: 85vh;
}

.body-heading {
    font-size: 4vw;
    position: relative;
    color: #242424;
    -webkit-text-stroke: 0.2vw white;
    letter-spacing: 2px;
    margin-top: 11%;
    margin-bottom: 0px;
}

.body-heading::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw rgb(119, 126, 134);
    overflow: hidden;
    animation: animate 5s linear infinite;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

@keyframes animate 
{
    0%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }
}

.learnz-word {
    margin-top: 20px;
    font-size: 6vw;

    display: block;
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 75s linear infinite;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.landing-body-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 95vh;
    width: 80vw;
    margin-top: 5vh;
}

.layer-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
}

.box-1 {
    width: 50%;
    height: 70%;
    border: 2px solid white;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 {
    width: 50%;
    height: 70%;
    border: 2px dashed white;
}

/* animation for box-2*/

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

/* Main styles */
.box-1 {
    /* margin-top: 13.5rem; */
    color: #999;
    /* font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif; */
    /* text-align: center; */
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

/* .box-1::before {
    content: "INFINITY";
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
} */